<head>
    <link rel="stylesheet" href="style.css">
</head>

<form method="POST" action="/new" class="form">
    <div class="item">
        <label for="">User</label>
        <input type="text" name="msgUser">
    </div>

    <div class="item">
        <label for="">Text</label>
        <input type="text" name="msgText">
    </div>

    <button class="open">Submit</button>
</form>
