@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: 0;
    padding: 0;
    font-family: inter;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav {
    background-color: rgb(223, 223, 223);
    padding: 20px;
}

.msg {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    /* background-color: red; */
    padding: 10px;
}

.post {
    background-color: rgb(214, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
}

.title {
    text-align: center;
}

.user {
    text-decoration: underline;
}

.text {
    margin-bottom: 10px;
}

.open {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 50px;
}